<h1>新しい山行の登録</h1>

<%= form_with model: @mntevent do |form| %>

    <div>
        <%= form.label :"山行の名前" %><br>
        <%= form.text_field :eventname %>
    </div>
    <div>
        
        <%= form.label :"山に行った日" %><br>
        <%= form.date_field :eventdate %>
        
    </div>
    <div>
        <%= form.label :"山の名前" %><br>
        <%= form.text_field :mnt %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>